<div class="initial">
	<%= form_for :tweets, :url => tweets_path, :html => {:id => "tweets_form", :method => :get, :class=> "well form-inline"}  do |f| %>
		<%= f.hidden_field "last_id1" %>
		<%= f.hidden_field "last_id2" %>
		<%= f.hidden_field "last_id3" %>		
	
		<p>You can write up to 3 Twitter usernames to check their recent updates.</p>
		<div class="controls">
       <div class="input-prepend">
         <span class="add-on">@</span><%= f.text_field "user1", :class => "input-medium span2", :placeholder => "Username 1" %>
       </div>
			 <div class="input-prepend">
         <span class="add-on">@</span><%= f.text_field "user2", :class => "input-medium", :placeholder => "Username 2" %>
       </div>
			 <div class="input-prepend">
         <span class="add-on">@</span><%= f.text_field "user3", :class => "input-medium", :placeholder => "Username 3" %>
       </div>
			<%= f.submit "Get tweets!", :class => "btn btn-primary" %>
	   </div>
	<% end %>
</div>
<div class="well progress progress-striped
     active">
  <div class="bar"style="width: 100%;"><h5>Loading Tweets</h5></div>
</div>

<div class="timeline well">
	<h1>This is the timeline for: <span></span></h1>
	<ul class="nav nav-pills">
	  <li class="active">
			
	    <%= link_to raw('<i class="icon-repeat icon-white"></i> Load new tweets'), "javascript:void(0);", :id => "load_new" %>
		</li>
	  <li>
			<%= link_to 'Search for other users', "javascript:void(0);", :id => "other_users" %>
		</li>
	</ul>
	
	<div id="tweets_list">

	</div>	
</div>
